:root {
  --color-black: #000;
  --color-white: #fff;
  --color-indigo: #3A68B8;
  --color--bg: #020A18;
  --font-family: "Circular Std", sans-serif;
  --middle-high-bold: 450 14px / 18px var(--font-family);
  --middle-high: 500 14px / 18px var(--font-family); }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/../fonts/circularstdMedium.woff2") format("woff2");
  font-weight: 450;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/../fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-white); }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1150px; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.title {
  color: var(--color-white);
  font-weight: 800;
  font-size: 55px;
  line-height: 130%; }

.tittle {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: var(--color-white); }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.slick-dots {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=global.css.map */
